name: Docker Build

on:
  push:
    branches:
      - master
  pull_request:
  release:
    types:
      - created

jobs:
  build-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: docker/setup-buildx-action@v2
      - uses: docker/setup-qemu-action@v2
      
      - name: Login to dockerhub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - id: docker_meta
        uses: docker/metadata-action@v4
        with:
          images: moscajs/aedes
          tags: |
            type=semver,pattern={{version}}
            type=sha
            type=ref,event=branch
          labels: |
            org.opencontainers.image.vendor=moscajs
            org.opencontainers.image.documentation=https://github.com/moscajs/aedes-cli
            org.opencontainers.image.authors=Daniel Lando <daniel.sorridi@gmail.com>
            org.opencontainers.image.url=https://github.com/moscajs/aedes-cli
            maintainer=robertsLando
     
      - name: build+push
        uses: docker/build-push-action@v3
        with:
          platforms: linux/arm64,linux/amd64,linux/arm/v6,linux/arm/v7
          context: .
          file: docker/Dockerfile
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}

